
<!DOCTYPE html>
<html>
    <head> 
        <title>Project 1 Foodtweet</title> 
        <link rel="stylesheet" href="{{ url_for('static', filename='/tstyle.css') }}">
    </head> 
    
    <body>
        <div id="body">
            
            <div id="title">
                {{ dish_title }}
            </div>
            
            <div id="image">
                <pre><img src = "{{ dish_image }}"></pre>
                <div id="source">
                    {{ dish_url }}
                </div>
            </div>
            
            
            <div id="recipe" class = "recipe">
                <br>
                {%for i in range(0, dish_recipe_len)%} 
                    <li>{{ dish_recipe[i] }}</li>
                {%endfor%}
            </div>
            
            
    
            <div id="tweet" class = "tweet">
                <h1>What's being said about {{ food }}</h1>
                <pre><img src = "{{ tweet[0] }}" width="75" height="75">  <b>{{ tweet[1] }}</b>    {{ tweet[2] }}</pre>
                    <p>{{ tweet[3] }}</p>
            </div>
            
        </div>
        
    </body>
</html>